In [ ]:
# 참고문서 - 나도코딩 유튜브

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/nossi/Library/Python/3.9/lib/python/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/nossi/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nossi/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/nossi/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /Users/nossi/Library/Python/3.9/lib/python/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
# 런닝 기록
# 얼마나 뛰었는지  
distance = [3.2, 2.7, 2.2, 3.7, 5.6]
print(distance)

distance_s = pd.Series(data=distance )
distance_s.sum()
distance_s.max()
distance_s.mean()
distance_s.nlargest(2)
distance_s.nsmallest(2)

17.4

In [ ]:
import pandas as pd

distances = [3.2, 1.6, 2.5, 3, 2.7]
distances_s = pd.Series(data=distances, index=['MON', 'TUE', 'WED', 'THU', 'FRI'])
distances_s
distances_s.min()
distances_s.mean()
distances_s.sum()
distances_s.nlargest(2)
distances_s.nsmallest(2)

In [54]:
import pandas as pd
distances = {
    '1주차': [3.2, 1.6, 2.5, 3, 2.7],
    '2주차': [2.2, 1.1, 3.5, 1, 1.5],
    '3주차': [1.4, 1.5, 2.1, 1.5, 3.5]
}
index = ['Mon','Tue','Wed','Thu','Fri']
df = pd.DataFrame(data=distances, index=index)
df.index.name = '요일'
df.sort_values(by='1주차', inplace=True)
df
# df = pd.DataFrame(data=distances)
# df.index.name = '요일'
# df.reset_index(drop=True, inplace =True)
# df.sort_values(by='2주차')

     1주차  2주차  3주차
요일
Mon  3.2  2.2  1.4
Tue  1.6  1.1  1.5
Wed  2.5  3.5  2.1
Thu  3.0  1.0  1.5
Fri  2.7  1.5  3.5

In [46]:
import pandas as pd
distances1 = {
    '1주차': [3.2, 1.6, 2.5, 3, 2.7],
    '2주차': [2.2, 1.1, 3.5, 1, 1.5],
    '3주차': [1.4, 1.5, 2.1, 1.5, 3.5]
}
distances2 = {
    '1주차': [3.2, 1.6],
    '2주차': [2.2, 1.1],
    '3주차': [1.4, 1.5]
}

df1 = pd.DataFrame(data=distances1, index=['MON', 'TUE', 'WED', 'THU', 'FRI'])
df2 = pd.DataFrame(data=distances2, index=['SAT', 'SUN'])
print(df1)
print(df2)

concated_df = pd.concat([df1,df2])
concated_df
# # 칼럼 선택
# df['3주차'] 
# # index
# df.index
# df.index.name = '요일'
# # df.reset_index(drop=True, inplace=True)
# df.sort_values(by='3주차', ascending=False)

     1주차  2주차  3주차
MON  3.2  2.2  1.4
TUE  1.6  1.1  1.5
WED  2.5  3.5  2.1
THU  3.0  1.0  1.5
FRI  2.7  1.5  3.5
     1주차  2주차  3주차
SAT  3.2  2.2  1.4
SUN  1.6  1.1  1.5

     1주차  2주차  3주차
MON  3.2  2.2  1.4
TUE  1.6  1.1  1.5
WED  2.5  3.5  2.1
THU  3.0  1.0  1.5
FRI  2.7  1.5  3.5
SAT  3.2  2.2  1.4
SUN  1.6  1.1  1.5

In [ ]:
import xlwings as xw
# 데이터 프레임을 엑셀에 넣기
wb = xw.Book('test.xlsx')
wb.sheets[0].range('A1').options(index=False).value = df

# 엑셀에서 데이터 프레임으로 가지고 오기
wb = xw.Book('test.xlsx')
df = wb.sheets[0].range('A1').expand('table').options(pd.DataFrame).value
df.reset_index(inplace=True)